{{ partial "head" . }}
<main>
    <div class="intro">
        <h1>¯\_(ツ)_/¯</h1>
        <h2 data-i18n="message-not-found">{{ i18n "message-not-found" }}</h2>
    </div>
</main>
{{ partial "footer" . }}
