{{- define "main" -}}

<ul id="search-results" class="grid list-unstyled"></ul>

{{/* Template for JS result */}}
<template id="search-result-template">
  <li class="card search_summary">
      <figure><a class="search_linkimage"><img class="search_image"></a></figure>
      <div class="meta-content">
        {{/*  <time class="search_date"></time>  */}}
        <h3><a class="search_link search_title" href=""></a></h3>
        {{/*
          <ul class="nav nav-inline meta-document">
            <li><img src="/assets/svg/picto-audio.svg" /><span class="tooltip search_counterimage" aria-label="images"></span></li>
            <li><img src="/assets/svg/picto-document.svg" /><span class="tooltip search_counterdocument" aria-label="documents"></span></li>
            <li><img src="/assets/svg/picto-video.svg" /><span class="tooltip search_countervideo" aria-label="videos"></span></li>
          </ul>
        */}}
      </div>
      <div class="meta-link">
          <a class="search_viewmore" href="" data-i18n="link-access-content">{{ i18n "link-access-content" }}</a>
      </div>
  </li>
</template>

{{/* Alternative result if not js activate */}}
<div class="display-as-alternative">
  <ul class="grid list-unstyled">
      {{ range (.Paginator 20).Pages }}
      {{ partial "list-item" . }}
      {{ end }}
  </ul>
  {{ partial "paginator" . }}
</div>

{{- $fuse := resources.Get "js/fuse.js" -}}
{{- $mark := resources.Get "js/mark.js" -}}
{{- $js := slice $fuse $mark | resources.Concat "js/search-page.js" -}}
<script type="text/javascript" src="{{ $js.RelPermalink }}"></script>
<script>
// How many characters to include on either side of match keyword
const summaryInclude=60;

// Options for fuse.js
let fuseOptions = {
  shouldSort: true,
  includeMatches: true,
  tokenize: true,
  matchAllTokens: true,
  threshold: 0.0,
  location: 0,
  distance: 100,
  maxPatternLength: 64,
  minMatchCharLength: 3,
  keys: [
    {name:"title",weight:0.8},
    {name:"tags",weight:0.5},
    {name:"categories",weight:0.5},
    {name:"content",weight:0.4}
  ]
};
function getUrlParameter(name) {
  name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
  let regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
  let results = regex.exec(location.search);
  return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
}

let searchQuery = getUrlParameter('q');

if(searchQuery){
  document.getElementById("search-input").value = searchQuery;
  executeSearch(searchQuery);
} else {
  document.getElementById('search-results').innerHTML = "<p class=\"no-results\">Please enter a word or phrase above</p>";
}

function executeSearch(searchQuery) {
  // Look for "index.json" in the same directory where this script is called.
  fetch("/index.json").
    then(function (response) {
    return response.json()
  }).
  then(function (data) {
    let fuse = new Fuse(data, fuseOptions);
    let result = fuse.search(searchQuery);
    if (result.length > 0) {
      populateResults(result);
    } else {
      document.getElementById('search-results').innerHTML = "<p class=\"no-results\">No matches found</p>";
    }
  });
}

function populateResults(result){
  result.forEach( function (value, key) {
    let contents = value.item.content;
    let snippet = "";
    let snippetHighlights=[];
    snippetHighlights.push(searchQuery);
    if(snippet.length<1){
      snippet += contents.substring(0,summaryInclude*2);
    }
    snippet += "…";

    // Lifted from https://stackoverflow.com/posts/3700369/revisions
    var elem = document.createElement('textarea');
    elem.innerHTML = snippet;
    var decoded = elem.value;

    // Pull template from hugo template definition
    let frag = document.getElementById('search-result-template').content.cloneNode(true);
    // Replace values
    frag.querySelector(".search_summary").setAttribute("id", "summary-" + key);
    frag.querySelector(".search_linkimage").setAttribute("href", value.item.permalink);
    frag.querySelector(".search_link").setAttribute("href", value.item.permalink);
    frag.querySelector(".search_viewmore").setAttribute("href", value.item.permalink);
    frag.querySelector(".search_title").textContent = value.item.title;
    if(value.item.image == 0 && value.item.title.indexOf('mp3') > -1){
      frag.querySelector(".search_image").setAttribute("src", '/assets/logo/sound.png' );
    }
    else {
      frag.querySelector(".search_image").setAttribute("src", '{{ $.Site.Params.contentpath }}' + value.item.dir + value.item.image );
    }
    //frag.querySelector(".search_date").textContent = value.item.dateFormat;
    //frag.querySelector(".search_counterimage").textContent = value.item.typeimagecount;
    //frag.querySelector(".search_counterdocument").textContent = value.item.typedocumentcount;
    //frag.querySelector(".search_countervideo").textContent = value.item.typevideocount;
    let tags = value.item.tags;
    snippetHighlights.forEach( function (snipvalue, snipkey) {
      let markjs = new Mark(frag);
      markjs.mark(snipvalue);
    });
    document.getElementById("search-results").appendChild(frag);
  });
}
</script>
{{- end -}}
