@charset 'utf-8';

/* CSS DIRECTORY
	1. =GLOBAL SETTINGS
	2. =HEADER & FOOTER
	3. =LOGO
	4. =NAVIGATION
  5. =SEARCH
  6. =META
  7. =TOOLTIP
*/

/* GLOBAL SETTINGS
   ----------------------------- */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  box-sizing: border-box;
  word-spacing: 1px;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--base-font-family);
  color: var(--color-grey-dark);
  background: #f6f6f6;
}

.page {
  position: relative;
  padding: 1.5em 2vw 3em;
  width: 100%;
  min-height: 100vh;
  background: #fefefe;
}

.page h2:first-of-type {
  margin-top: 0;
}

.wrapper {
  width: 100%;
  max-width: 70em;
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* = Error = */

body.error-page {
  color: #fff;
  background-color: var(--color-primary-dark);
  background-size: cover;
}

.no-results {
  grid-column: 1 / -1;
  text-align: center;
  font-size: var(--title3);
}

/* = Elements = */

video,
embed {
  margin-bottom: 1.5em;
  width: 100%;
}

table {
  border-collapse: collapse;
}

a {
  color: var(--color-grey-dark);
}

.js .display-as-alternative {
  display: none;
}

:focus {
  outline: none;
}

/* = Pagination = */

.pagination {
  text-align: center;
}

/* = Promise = */

.promise>div {
  margin-bottom: var(--baseline);
  padding: var(--baseline);
  text-align: center;
  color: var(--color-grey-verylight);
  background: var(--color-grey-verydark);
}




.button-download {
  display: inline-block;
  margin-bottom: calc(var(--baseline) * 2);
  padding: calc(var(--baseline) / 2) var(--baseline);
  text-decoration: none;
  color: #fff;
  background: var(--color-primary);
  border-radius: 5px;
}

.button-download:hover {
  box-shadow: inset 0 0 50px 0px rgba(0, 0, 0, 0.3);
}

/* HEADER & FOOTER
   ----------------------------- */

header {
  margin: var(--baseline) 0;
  font-weight: bold;
}

header p {
  margin: 0;
  font-size: var(--bigger);
  color: var(--color-primary);
}

header .search {
  color: var(--color-grey-verylight);
  background: var(--color-primary);
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.05), 0 0 10px rgba(0, 0, 0, 0.1);
}

header a {
  text-decoration: none;
  color: currentColor;
}

header a:hover {
  text-decoration: underline;
}

/* = Footer = */

footer {
  margin: var(--baseline) 0 0;
  padding: var(--baseline) var(--baseline) 0;
  color: var(--color-grey-verylight);
  background: var(--color-grey-dark);
}

/* LOGO
   ----------------------------- */

.site-title,
.site-title:hover {
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.site-title:hover {
  border-bottom: 1px solid currentColor;
}

.site-title span,
.site-title strong {
  font-size: var(--title3);
}

.site-title span {
  color: var(--color-secondary);
}

/* NAVIGATION
   ----------------------------- */

.nav {
  font-size: var(--smaller);
}

.nav h2,
.nav h3 {
  margin: calc(var(--baseline) / 2) 0 0;
  padding: 0;
}

.nav p {
  margin: 0;
  font-weight: bold;
}

.nav ul {
  margin: 0;
  padding: 0;
}

.nav li {
  margin: 0 calc(var(--baseline) / 8) calc(var(--baseline) / 2) 0;
  list-style: none;
}

.nav-inline li {
  display: inline-block;
  margin: 0;
}

/* = Nav main = */

.nav-main {
  margin: var(--baseline) 0;
}

.nav-main a,
.nav-main span {
  display: block;
  padding: 0 calc(var(--baseline) / 2);
  text-decoration: none;
  border-radius: 4px;
  background: var(--color-grey-verylight);
}

.nav-main a:hover {
  color: var(--color-grey-verylight);
  background: var(--color-grey-verydark);
}

.nav-main .active span {
  font-weight: bold;
  background: var(--color-grey-verylight);
}

/* = Nav language = */

.nav-language {
  width: 100%;
  text-align: right;
}

.nav-language li:not(:first-child):before {
  content: '-';
  margin-left: 4px;
}

/* = Nav anchor = */

.nav-anchor {
  margin-bottom: calc(var(--baseline) * 2);
  padding: var(--baseline) calc(var(--baseline) * 2) var(--baseline);
  background-color: var(--color-grey-verylight);
}

.nav-anchor li {
  display: inline-block;
  margin: var(--baseline) var(--baseline) var(--baseline) 0;
}

/* SEARCH
   ----------------------------- */

.nav-search {
  text-align: center;
}

.search {
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  padding: var(--baseline);
  color: var(--color-grey-verylight);
}

.search div {
  --searchButtonWidth: 75px;
  overflow: hidden;
  position: relative;
  width: 80%;
  max-width: 40em;
}

.search-input {
  padding: var(--baseline);
  width: 100%;
  border: 1px solid var(--color-grey);
}

.search-button {
  position: absolute;
  left: 100%;
  height: 100%;
  min-height: 3.35em;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  background: var(--color-grey-dark);
  border: 1px solid #000;
  width: var(--searchButtonWidth);
  transition: 0.2s;
}

.search-input:not(:placeholder-shown)~.search-button {
  transform: translateX(calc(-1 * var(--searchButtonWidth)));
}

.submit:hover {
  color: var(--color-grey-light);
}

.search-button {
  position: absolute;
  /* push outside the form, hiding it */
  left: 100%;
  width: var(--searchButtonWidth);
}

/* FORM
   ----------------------------- */

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

fieldset>* {
  overflow: hidden;
  padding: 0.2em;
}

.form-filter {
  padding: 0.5em;
  background: var(--color-grey-verylight);
  border: 1px solid var(--color-grey-light);
}

legend {
  float: left;
  margin-right: 1em;
  font-weight: bold;
  font-variant: small-caps;
}

label ~ label {
  margin-left: 0.25em;
}

input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

input[type="radio"]:checked+label:before {
  border-color: var(--color-secondary);
  background-image: radial-gradient(var(--color-secondary) 50%, transparent 50%);
}

input[type="radio"]:hover,
input[type="radio"]:focus {
  cursor: pointer;
}

input[type="radio"]:hover+label,
input[type="radio"]:focus+label {
  cursor: pointer;
}

input[type="radio"]:hover+label:before,
input[type="radio"]:focus+label:before {
  background-image: radial-gradient(#ccc 50%, transparent 50%);
}

input[type="radio"]+label {
  font-weight: normal;
  display: inline-block;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
  width: auto;
}

input[type="radio"]+label:before {
  content: '';
  display: inline-block;
  height: 1em;
  width: 1em;
  border: 1px solid gray;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 0.25em;
}

/* CARD
   ----------------------------- */

.card {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 1.2;
  min-height: 10em;
  font-weight: bold;
  color: var(--color-grey-dark);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.11), 0 0 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11);
}

.card figure {
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.11);
  border-radius: 4px 4px 0 0;
}

.card img {
  width: 100%;
  max-height: 7em;

  object-fit: cover;
}

.card .meta-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .meta-type {
  position: absolute;
  top: 7%;
  left: 7%;
  padding: 0.2em;
  background: #fff;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.card .meta-type img {
  width: 18px;
}

.card h3 {
  margin: 0;
  font-size: var(--normal);
}

.card a {
  display: block;
  text-decoration: none;
  color: currentColor;
}

.card a:hover {
  text-decoration: underline;
}

/* META
   ----------------------------- */

.meta-content {
  padding: calc(var(--baseline) / 2) calc(var(--baseline) / 2);
}

.meta-document {
  margin: calc(var(--baseline) / 2) 0 0;
  padding: calc(var(--baseline) / 2) var(--baseline) calc(var(--baseline) / 2);
  font-size: var(--smaller);
  text-align: center;
  border-top: 1px solid #ccc;
}

.meta-document li:not(:first-child) {
  margin-left: calc(var(--baseline) / 8);
}

.meta-document svg,
.meta-document img,
.meta-document span {
  display: inline;
  width: auto;
  font-family: Helvetica, arial, sans-serif;
  vertical-align: middle;
}

.meta-document img {
  margin-right: calc(var(--baseline) / 8);
}

.meta-link {
  text-align: center;
  background: var(--color-secondary);
}

.meta-link {
  display: block;
  padding: 0;
  color: #fff;
}

.meta-link a {
  padding: calc(var(--baseline) / 2) calc(var(--baseline) / 2);
}

time {
  display: inline-block;
  margin-bottom: calc(var(--baseline) / 2);
  font-size: var(--smaller);
  color: var(--color-grey);
}

/* TOOLTIP
   ----------------------------- */

.tooltip {
  position: relative;
  cursor: pointer;
}

.tooltip svg {
  width: 18px;
  height: 18px;
}

.tooltip::before {
  position: absolute;
  content: attr(aria-label);
  bottom: 130%;
  left: 50%;
  padding: 0.2em 0.4em;
  transition: all 0.5s ease;
  text-transform: none;
  color: #fff;
  border-radius: 5px;
  background-color: #2b222a;
  transform: translateX(-50%);
}

.tooltip::before,
.tooltip::after {
  text-align: center;
  pointer-events: none;
  opacity: 0;
  color: #efefef;
}

.tooltip:focus::before,
.tooltip:focus::after,
.tooltip:hover::before,
.tooltip:hover::after {
  transition: all 0.75s ease;
  opacity: 1;
}

/* select language */

.nav-language {
  display: flex;
  justify-content: end;
}

.button-download {
  margin: 10px 0px 10px 0px;
}