<!DOCTYPE html>
{{/* General variables */}}
{{- $.Scratch.Set "defaultlanguage" (slicestr .Site.LanguageCode 0 2) -}}
{{- $.Scratch.Set "contentabsolutepath" "/content/" -}}
{{- $.Scratch.Set "contentpath" "" -}}
{{- if not .Site.IsServer -}}
{{- $.Scratch.Set "contentpath" "content/" -}}
{{- end -}}
<html lang="{{ .Site.LanguageCode | default "fr" }}">
{{ partial "head" . }}
<body>
  <div class="skip-links">
    <a href="#nav">Navigation principale</a>
    <a href="#main">Contenu principal</a>
  </div>
  <header>
    <div class="wrapper">
      {{ partial "nav-translated" . }}
      <p><a href="/" class="site-title">{{ .Site.Params.logo | safeHTML }}</a></p>
    </div>
    {{ partial "nav-search" . }}
  </header>
  <main id="main" class="page main wrapper" tabindex="-1">
  {{- if not (eq .Kind "home") -}}
  {{ partial "breadcrumb.html" . }}
  {{- end -}}
  {{ block "main" . }}{{- end -}}
  </main>
  {{ partial "footer" . }}
  {{- if .Site.IsServer -}}{{ partial "debug" (dict "context" .) }}{{- end -}}
  <script>
      // Add a class on body if js is activate
      var body = document.body;
      body.classList.add("js");
      document.forms[0].addEventListener('submit', function(e) {
        e.preventDefault();
        window.location.href = '/search/?q=' + document.getElementById('search-input').value;
    }, false);
  </script>
  {{- $i18next := resources.Get "js/i18next.min.js" -}}
  {{- $i18nbrowser := resources.Get "js/i18nextBrowserLanguageDetector.min.js" -}}
  {{- $js := slice $i18next $i18nbrowser | resources.Concat "js/i18n.js" -}}
  <script type="text/javascript" src="{{ $js.RelPermalink }}"></script>

  <script>
      i18next
        .use(i18nextBrowserLanguageDetector)
        .init({
          fallbackLng: 'en',
          resources: {
            {{- $path := $.Site.Params.i18ndir -}}
            {{- $i18n := readDir $path -}}
            {{- range $i18n -}}
              {{- if (in .Name "yaml") -}}
                {{- $filename := replace .Name ".yaml" "" -}}
                {{- $file := printf "%s%s" $path .Name -}}
                {{- $lang := readFile $file | transform.Unmarshal -}}
                {{ $filename }}: {
                  translation: {
                    {{- range $key, $value := $lang -}}
                      {{ $key }}: {{ $value.other }},
                    {{- end -}}
                  }
                },
              {{- end -}}
            {{- end -}}
          }
        }, function(err, t) {
          // init set content
          updateContent();
        });

        function updateContent() {
          var i18nList = document.querySelectorAll('[data-i18n]');
          var i18nListPlaceholder = document.querySelectorAll('[data-placeholderi18n]');
          console.log(i18nListPlaceholder)
          i18nList.forEach(function(v){
              v.innerHTML = window.i18next.t(v.dataset.i18n);
          })
          i18nListPlaceholder.forEach(function(v){
            v.placeholder = window.i18next.t(v.dataset.placeholderi18n);
          })
        }

        function changeLng(lng) {
          i18next.changeLanguage(lng);
        }

        i18next.on('languageChanged', () => {
          updateContent();
        });

  </script>
</body>
</html>

