/*
/// Layout
*/
:root {
  --layout-max-width: 40em;
  --column-number: 4;
}

/* Page & Wrapper
// -------------------------
*/

.page {
  padding-bottom: var(--baseline);
}

.page,
.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}

.wrapper {
  padding-right: var(--baseline);
  padding-left: var(--baseline);
  max-width: var(--layout-max-width);
}

/* Grid
// -------------------------
*/

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(var(--layout-max-width) / calc(var(--column-number) - 0.4 )), 1fr));
  grid-gap: 2vmin;
  margin-bottom: calc(var(--baseline) * 2);
}

/* Flex
// -------------------------
*/


@media screen and (min-width: 768px) {
  .flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1em var(--baseline);
  }

  .flex>* {
    flex: 1;
    margin: 0 1em var(--baseline) !important;
    flex: 0 1 calc( (100% - 1em) / 4);
  }

  .flex-content {
    flex: 999;
    order: 999;
  }
}
